<header>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between main-header pt-4">
            <div class="site-logo">
                <a href="#">
                    <img src="assets/img/logo.png" alt="">
                    <span class="ml-3">GATES HUB</span>
                </a>
            </div>
            <div class="d-flex header-menu">
                <div class="header-links">
                    <a href="#" class="mr-4">C - Gate</a>
                    <a href="#" class="mr-4">D - Gate</a>
                    <a href="#" class="mr-4">Contact Us</a>
                    <a href="#" class="mr-4">Ambassador System</a>
                </div>
                <a class="main-menu" (click)="visbility = !visbility">
                    <i class="ico icon-menu-bars"></i>

                </a>
            </div>
        </div>
    </div>
</header>
<app-navigation *ngIf="visbility"></app-navigation>