<div class="hp-third-section pt-5">
    <div class="gates-type-con mt-5">
        <div class="container">
            <div class="gate-item">
                <div class="d-flex mt-4">
                    <div class="gate-desc">
                        <div class="d-flex gate-title mb-5">
                            <h2 id="scrollTo">GATE</h2>
                            <h3 class="extra-title-margin">S HUB</h3>
                        </div>
                        <p>Gates Hub is a subscription-based one-stop-shop for cryptocurrency and personaldevelopment solutions, Gates is a smart gateway into the underexplored decentralized currency segment in both the Middle East and Africa. Next to the
                            provision of comprehensive consultancy and portfolio management services, the company aims to consolidate educational content and provide access to informative programs and events. In doing so, it seeks to increase users’ knowledge
                            and understanding </p>
                    </div>
                    <div id="gateImg1" class="gate-img">
                        <img src="assets/img/gate1.jpg" alt="gate1">
                    </div>
                </div>
            </div>
            <div class="gate-item">
                <div class="d-flex mt-4">
                    <div class="gate-desc">
                        <div class="d-flex gate-title mb-5">
                            <h3>C -</h3>
                        </div>
                        <p>Gates Hub is a subscription-based one-stop-shop for cryptocurrency and personaldevelopment solutions, Gates is a smart gateway into the underexplored decentralized currency segment in both the Middle East and Africa. Next to the
                            provision of comprehensive consultancy and portfolio management services, the company aims to consolidate educational content and provide access to informative programs and events. In doing so, it seeks to increase users’ knowledge
                            and understanding </p>
                    </div>
                    <div id="gateImg2" class="gate-img">
                        <img src="assets/img/gate2.jpg" alt="gate1">
                    </div>
                </div>
            </div>
            <div class="gate-item">
                <div class="d-flex mt-4">
                    <div class="gate-desc">
                        <div class="d-flex gate-title mb-5 stop-sricky">
                            <h3>D -</h3>
                        </div>
                        <p>Gates Hub is a subscription-based one-stop-shop for cryptocurrency and personaldevelopment solutions, Gates is a smart gateway into the underexplored decentralized currency segment in both the Middle East and Africa. Next to the
                            provision of comprehensive consultancy and portfolio management services, the company aims to consolidate educational content and provide access to informative programs and events. In doing so, it seeks to increase users’ knowledge
                            and understanding </p>
                    </div>
                    <div id="gateImg3" class="gate-img">
                        <img src="assets/img/gate3.jpg" alt="gate1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>