@font-face {
    font-family: 'Futura LT';
    src: url('/assets/fonts/FuturaLT.eot');
    src: url('/assets/fonts/FuturaLT.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/FuturaLT.woff2') format('woff2'), url('/assets/fonts/FuturaLT.woff') format('woff'), url('/assets/fonts/FuturaLT.ttf') format('truetype'), url('/assets/fonts/FuturaLT.svg#FuturaLT') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT';
    src: url('/assets/fonts/FuturaLT-Light.eot');
    src: url('/assets/fonts/FuturaLT-Light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/FuturaLT-Light.woff2') format('woff2'), url('/assets/fonts/FuturaLT-Light.woff') format('woff'), url('/assets/fonts/FuturaLT-Light.ttf') format('truetype'), url('/assets/fonts/FuturaLT-Light.svg#FuturaLT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT';
    src: url('/assets/fonts/FuturaLT-Bold.eot');
    src: url('/assets/fonts/FuturaLT-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/FuturaLT-Bold.woff2') format('woff2'), url('/assets/fonts/FuturaLT-Bold.woff') format('woff'), url('/assets/fonts/FuturaLT-Bold.ttf') format('truetype'), url('/assets/fonts/FuturaLT-Bold.svg#FuturaLT-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Futura LT';
    font-size: $baseFz;
    line-height: 1;
    font-weight: 500;
    color: $primary-color;
}