<div class="nav-warp">
    <div class="container-fluid h-100">

        <div class="row h-100"> 
            <div class="col-md-8 start-side">
                <ul class="main-nav">
                    <li class="main-sub-nav">
                        <span class="main-sub-link">Gates Hub</span>
                        <ul class="sub-nav">
                            <li class="sub-nav-list">
                                <a class="sub-nav-link" href="#">C-Gate</a>
                            </li>
                            <li class="sub-nav-list">
                                <a class="sub-nav-link" href="#">D-Gate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-sub-nav">
                        <span class="main-sub-link">Who we are</span>
                        <ul class="sub-nav">
                            <li class="sub-nav-list">
                                <a class="sub-nav-link" href="#">About Us </a>
                                <ul class="third-nav">
                                    <li class="third-nav-list">
                                        <a class="third-nav-link" href="#">Vision & Mission</a>
                                    </li>
                                    <li class="third-nav-list">
                                        <a class="third-nav-link" href="#">Morals & Ethics</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-nav-list">
                                <a class="sub-nav-link" href="#">Our Work</a>
                                <ul class="third-nav">
                                    <li class="third-nav-list">
                                        <a class="third-nav-link" href="#">Our Clients</a>
                                    </li>
                                    <li class="third-nav-list">
                                        <a class="third-nav-link" href="#">Testimonials</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-nav-list">
                                <a class="sub-nav-link" href="#">Our Team</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="bottom-content">
                    <div class="contact-us">
                        <h3>
                            Contact Us
                            <p>We’re ready to start. <br> Reach out and let us help!</p>
                        </h3>
                        <div class="address-info">
                            <p class="">
                                7240 Waverly St.
                                <br> Office 212
                                <br> Montreal, QC H2R 2Y8
                            </p>
                            <div>
                                <a href="tel:">
                                    514-897-2991
                                </a>
                                <a href="mailto:">
                                    contact@gateshub.com
                                </a>
                            </div>

                        </div>
                        <a href="#" class="outline-btn">Go to contact page</a>
                    </div>
                    <div class="copy-rights">
                        <ul>
                            <li>Follow us</li>
                            <li>
                                <a href="#"><i _ngcontent-sna-c19="" class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i _ngcontent-sna-c19="" class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i _ngcontent-sna-c19="" class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 end-side">
                <img class="end-side-logo" src="assets/img/Subtraction 5.png" />

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="end-side-title">Become our Ambassador Now!</h3>
                        <p class="end-side-desc">Gates Hub is a subscription-based one-stop-shop for cryptocurrency and personaldevelopment solutions, Gates is a smart gateway into the underexplored
                        </p>
                    </div>
                    <div class="col-md-6">

                        <img class="end-side-img" src="assets/img/menu-image.png" />
                    </div>
                </div>
                <a class="outline-btn outline-btn-bg" href="#">Apply Now!</a>
            </div>
        </div>
    </div>

</div>
