
.hp-first-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 85px;
  position: relative;
  height: 100vh;
  transition: all 0.3s linear;
  &.img-zoom{
    transform: scale(1.02);
    }
  .main-title {
      margin-top: 100px;
      overflow: hidden;
      h1{
        font-weight: 600;
        font-size: 50px;
      }
  }
  //main triangle wrapper
.triangle-wrapper{
  position: relative;
  top: 50px;
  left: 10px;
.right-line{
  height: 89px;
  width: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  right: 18px;
  transform: skew(55deg,10deg);
}
.left-line{
  height: 90px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 2px;
  transform: skew(308deg,10deg);
}
.bottom-line{
  width: 239px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: -53px;}
}
}

.explore-link {
  // background-image: url('/assets/img/polygon.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 255px;
  // height: 115px;
  position: absolute;
  bottom: 30px;
  left: 45%;
  text-align: center;
  color: $primary-color;
  transition: all ease .2;
  i,
  span {
      transition: transform 250ms;
  }
  span {
      margin-top: 8px;
      font-weight: 600;
      font-size: 13px;
  }
  &:hover {
      color: $primary-color;
      i {
          transform: translateY(-10px);
      }
      span {
          transform: translateY(4px);
      }
  }
}

.hp-second-section {
  background-color: $secondary-color;
  overflow-x: hidden;
  background-image: url('/assets/img/half-logo-bg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 115px;
}

.moving-title {
  position: relative;
  h3 {
      @include fz(120px);
      font-weight: 600;
      color: $primary-color;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primary-color;
  }
}

.video-section {
  position: relative;
}

.video-desc {
  margin: 0 50px;
  padding-top: 200px;
  h2 {
      @include fz(80px);
      font-weight: 600;
      position: absolute;
      left: 50px;
      top: 50px;
      width: 30%;
  }
  p {
      margin-top: 55px;
      line-height: 24px;
  }
  a {
      padding: 10px 20px;
      border: 1px solid $primary-color;
      border-radius: 50px;
      background-color: $primary-color;
      color: $secondary-color;
      i {
          @include fz(0px);
          transition: 100ms ease-in-out all;
      }
      &:hover {
          i {
              @include fz(12px);
          }
      }
  }
}

.hp-third-section {
  background-color: $secondary-color;
  background-image: url('/assets/img/half-logo-bg.png'), url('/assets/img/half-right-bg.png'), url('/assets/img/small-bottom.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, center right, bottom left;
  background-size: 115px;
}

.gates-type-con {
  .gate-title {
      position: relative;
      height: 60px;
      h2,
      h3 {
          @include fz(60px);
          font-weight: 600;
      }
      h2 {
          margin-left: 110px;
      }
      .extra-title-margin {
          position: absolute;
          left: 270px;
          top: 0;
      }
  }
  .gate-desc {
      p {
          line-height: 24px;
      }
  }
}

.gate-img {
  transform: perspective(400px) rotateY(-45deg) scale(0.9);
  transition: 500ms ease-in-out all;
  position: relative;
  right: -100px;
  img {
      width: 350px;
  }
}

.animate-this {
  transform: perspective(0px) rotateY(0deg) scale(1);
  right: 0;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 100px;
}

.hp-fourth-section {
  background-color: $secondary-color;
  background-image: url('/assets/img/half-logo-bg.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.team-slider {
  position: relative;
  .flexslider {
      background-color: transparent;
      border: 0;
  }
  #slider {
      width: 25%;
      position: absolute;
      top: 40px;
      left: 140px;
      z-index: 99;
      pointer-events: none;
      h3 {
          @include fz(70px);
          font-weight: 600;
          line-height: 90px;
      }
      h4 {
          @include fz(25px);
      }
      .flex-direction-nav{
        display: none;
      }
  }
  #carousel {
      width: 85%;
      .slides {
          li {
              transform: perspective(400px) rotateY(-13deg) scale(0.9);
              transition: 300ms ease-in-out all;
              img {
                  cursor: pointer;
              }
              &.flex-active-slide {
                  transform: perspective(0px) rotateY(0deg) scale(1);
              }
          }
      }
  }
  .flex-direction-nav {
    right: 10%;
    top: 41%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-direction-nav{
    .flex-nav-next{
      position: relative;
      right: -60px;
      top: 13px;
    .flex-next{
      width: 20px;
      height: 15px;
      opacity: 1!important;
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 12px;
        border-color: transparent transparent transparent #fff;
      }
    }
    }
    .flex-nav-prev{
      width: 10px;
      height: 10px;
      position: relative;
      top: 13px;
      left: -10px!important;
    .flex-prev{
      width: 20px;
      height: 15px;
      opacity: 1!important;
      left:initial!important;
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 12px 7px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
  }
  }
  .flex-direction-nav a.flex-next {
    right: 50px !important;
  }
  .primary-btn {
      position: absolute;
      bottom: 75px;
      left: 130px;
      z-index: 10;
  }
}

.member-social-accounts {
  pointer-events: visible;
  a {
      @include fz(20px);
      color: $primary-color;
  }
}

.our-team {
  margin-top: -35px;
}

@media (max-width: 1200px) {

  }


@media(max-width:992px) {

  .hp-first-section {

    &.img-zoom{

      }
    .main-title {
      margin-top: 50px;
      h1{
        font-size: 45px
      }
    }
    //main triangle wrapper
  .triangle-wrapper{
  .right-line{
  }
  .left-line{
    height: 89px;
  }
  .bottom-line{
  }
  }
  }

  .explore-link {
    bottom: 35px;
    left: 31%;

    i,
    span {

    }
    span {

    }
    &:hover {

        i {

        }
        span {

        }
    }
  }

  .hp-second-section {

  }

  .moving-title {

    h3 {
      font-size: 33px;
    }
  }

  .video-section {
    flex-direction: column;
    .video{
      iframe{
        width: 100%!important;
        height: 330px!important;
      }
    }

  }

  .video-desc {
    margin: 0px 15px;

    h2 {
      font-size: 45px;
      left: 15px;
      top: 50px;
      width: 60%;

    }
    p {
      margin-top: 5px;

    }
    div{
      margin-top: 30px!important;
      margin-bottom: 35px!important;
      a {
        font-size: 20px;
        i {

        }
        &:hover {
            i {

            }
        }
    }

    }
  }

  .hp-third-section {
    .gates-type-con{
      .gate-item{
        >div{
          flex-direction: column;
          .gate-desc{
            margin-bottom: 40px;
          }
        }
      }
    }

  }

  .gates-type-con {
    .gate-title {
      height: 50px;
      margin-bottom: 20px!Important;

        h2,
        h3 {
          font-size: 45px;

        }
        h2 {
          margin-left: 0px;

        }
        .extra-title-margin {
          left: 120px;

        }
    }
    .gate-desc {
        p {

        }
    }
  }

  .gate-img {
    right: 0px;
    margin-bottom: 30px;
    img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
  }
  .animate-this {
  }
  .sticky {
  }

  .hp-fourth-section {
    .moving-title{
      display: none;
    }

  }

  .team-slider {
    flex-direction: column-reverse;

    .flexslider {

    }
    #slider {
        width: 100%;
        padding: 0 15px;
        position: initial;

        h3 {

        }
        h4 {

        }
        .flex-direction-nav{

        }
    }
    #carousel {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 15px;

        .slides {
            li {

                img {

                }
                &.flex-active-slide {

                }
            }
        }
    }
    .flex-direction-nav {
      display: none;
    }
    .flex-direction-nav{
      .flex-nav-next{

      .flex-next{

        &:before{

        }
      }}
      .flex-nav-prev{

      .flex-prev{

        &:before{

        }
      }
    }
    }
    .flex-direction-nav a.flex-next {

    }
    .primary-btn {
    bottom: 20px;
    left: 25%;
    a{
      font-size: 20px;
    }

    }
  }

  .member-social-accounts {

    a {

    }
  }

  .our-team {
    margin-top: 0;
    padding-bottom: 20px;

  }

}

@media (max-width: 768px) {

}

@media(max-width:576px) {

}

