<footer>
  <div class="container footer-cont">
    <div class="d-flex justify-content-between align-items-center main-footer pt-4 pb-4 footer-wrapper">
      <div class="d-flex align-items-center logo-section">
        <div class="footer-logo mr-3">
          <img src="assets/img/logo.png" alt="footer-logo">
        </div>
        <div class="policy-section">
          <p>Cookie Policy - Privacy Policy - Gates Hub © 2021</p>
        </div>
      </div>
      <div>
        <p>Powered by <a href="#">Source Code</a></p>
      </div>
    </div>
  </div>



</footer>
